body{
    height: 100%;
    background-color: rgb(115, 174, 209);
}

.calculator {
    border: 1px solid black;
    padding: 20px;
    width: 50%;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

.screen {
    border: 1px solid black;
    text-align: right;
    background-color: bisque;
    padding: 10px;
    height: 30px;
    border-radius: 10px;
}

.buttons{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.button-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.button {
    height: 30px;
    margin: 5px;
    border-radius: 10px;
}
