body{
    height: 100%;
    
}

.calculator {
    border: 1px solid black;
    padding: 20px;
    width: 50%;
    align-items: center;
    margin: auto;
}

.screen {
    border: 1px solid black;
    text-align: right;
    padding: 10px;
    height: 30px;
}

.buttons{
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.button-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.button {
    height: 35px;
    margin: 5px;
    border-radius: 30px;
}
